body{
    min-width:365px ;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header {
    background-color: #001219;
}

.info {
    color: black;
}

.cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 350px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #001219;
}

.card:hover{
    box-shadow: 0 0 10px #001219;
}

.card .material-icons{
    background-color: #0a9396;
}

.card .material-icons:hover{
    transition: 0.4s;
    background-color: #ffffff;
    color: #0a9396;
}

#logo{
    margin-left: 50px;
    font-size: large;
    font-weight: bold;
} 

#logo span{
    color: #0a9396;
}

.navUlLi:hover{
    transition: 0.3s;
    color: #0a9396;
    border-bottom: 4px solid #0a9396;
}


.mainContent{
    margin-top: 4px;
    width: 100%;
    height: 40%;
    position: relative;
}

#mainImg{
    width: 100%;
    height: 70%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: bold;
    text-shadow: 0 0 10px #001219;
    border-color: #0a9396;
  }
  
  .center span{
      color: #0a9396;
  }

  #productH3{
      padding-left: 10%;
      margin-bottom: 5%;
      width: 100%;
      font-weight: bolder;
      color: #001219;
  }

  
  .page-footer{
      background-color: #001219;
  }

  .sideNavLinks:hover{
      font-weight: bold;
      color: #0a9396;
  }

.footerLinks:hover{
    color: #0a9396;
}

.footerLinks{
    color: rgb(170, 170, 170);
    transition: 0.4s;
}

.aboutUs{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.aboutUsContent h2 span{
    padding-left: 10px;
    border-left: 5px solid #0a9396;
}


.aboutUsContent{
    width:  100%;
    height: 100%;
    text-align: center;
    
}

.aboutUsContent li a{
    color: black;
    font-size: larger;
}